/* GENERAL */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

hr {
    color: black;
}
.header {
    position: absolute;
    top: 0px;
    left: 8px;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    /* margin-bottom: 10px;
    padding-top: 20px; */
}

/* Game - Board, Pieces, Players */

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: "Droid Serif", serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #e7e0cb;
    height: 100vh;
}

.board-wrapper {
    text-align: center;
    margin-top: 5vh;
}

/* Construction Board  */

.board {
    display: flex;
    /* padding-left: 30px;
    padding-top: 40px; */
    padding: 10px;
    margin-top: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.6); */
    border-radius: 20px;
}
.columns {
    /* display: grid;
    grid-template-columns: repeat(7, 125px);
    grid-template-rows: repeat(6, 125px);
    justify-content: center; */
    /* border: 1px solid black; */
}

.slot {
    width: 110px;
    height: 110px;
    background-color: inherit;
    padding: 2px 0 0 2px;
    padding-bottom: 10px;
}

.hole {
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 45px;
    box-shadow: inset 28px 43px 84px -45px rgba(209, 191, 138, 1);
}

/* Player Class */

.player2 .hole {
    background-color: black;
    width: 90px;
    height: 90px;
    position: relative;
    background-image: url(assets/black.png);
    background-size: contain;
}

.player1 .hole {
    background-color: #d9c791;
    width: 90px;
    height: 90px;
    position: relative;
    background-image: url(assets/white.png);
    background-size: contain;
}

/* box-shadow */
/* Title */

h1 {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Mocal - Section - Win Section */

/* .on {
    display: inline;
} */

/* Modal Popup */

.winner-modal {
    /* width: 100%;
    height: 100%;
    position: fixed; */
    /* top: 0; */
    /* transform: translate(50%, 50%); */
    visibility: visible;
    /* justify-content: center;
    align-items: center;  */
    z-index: 1500;
}

.modal-content {
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%);
    width: 100vh;
    /* height: 500px; */
    background-color: #e7e0cb;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    /* position: relative; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

.on {
    transition: 1.3s;
    opacity: 1;
    transition-timing-function: ease-in;
    top: 50%;
    /* visibility: visible; */
}

.modal-content h3 {
    margin-top: 30px;
}

.modal-content p {
    padding-bottom: 20px;
}

/* .newgame {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 150px;
    height: 40px;
    border: 3px solid rgb(157, 111, 7);
    background-color: #e7e0cb;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
    color: rgb(157, 111, 7);
    cursor: pointer;
} */

.close,
.newgame {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 150px;
    height: 40px;
    border: 3px solid #2f2f2f;
    background-color: #e7e0cb;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
    color: #2f2f2f;
    cursor: pointer;
    margin-left: 30px;
    transition: all 0.3s ease;
}

.close:hover,
.newgame:hover {
    background-color: #dbd5c1;
    transform: translateY(-3px);
}

/* .cross {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    transform: rotate(45deg);
    cursor: pointer;
} */

.chicken {
    background-image: url(assets/food.svg);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

.winningdance {
    background-image: url(assets/tenor.gif);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

.winnertext {
    padding-top: 30px;
    padding-bottom: 30px;
}

.winnerpiece {
    position: relative;
    background-image: url(assets/black.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    /* border-radius: 45px; */
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.wrapper-icons {
    width: 300px;
    height: 100%;
}

.wrapper-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.align-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.terrycrews {
    background-image: url(assets/images.jpeg);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
/* Cursor */

#cursor {
    background-color: black;
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    background-image: url(assets/black.png);
    background-size: contain;
    /* border-top-left-radius: 20px; */
    opacity: 0.7;
    visibility: hidden;
    z-index: 1000;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.15;
    overflow: hidden;
}

.bg-video__content {
    height: 100vh;
    width: 100%;
    object-fit: contain;
}
